body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
 
.container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}
 
h1 {
    margin-bottom: 20px;
}
 
.input-group {
    margin-bottom: 15px;
}
 
input{
    width: 93%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;

}
 
button {
    width: 48%;
    padding: 10px;
    margin: 5px 1%;
    border: none;
    border-radius: 3px;
    background-color: #e386ff;
    color: white;
    cursor: pointer;
}
 
button:hover {
    background-color: #e386ff;
}
 
.result {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}